body{
	background: linear-gradient(red, green);
	border: 3px dotted black;
	margin: 10px;
	width: 90%;
}
section{
	border: 2px solid black;
	/*width: 500px;*/
	margin: 20px;
	padding: 10px;
	border-radius: 10px 0 20px 50px;
	box-shadow: 3px 3px 3px 3px green;
}
h1,p{
	border: 3px solid red;
	padding: 10px;
}
h1{
	margin: 15px 0 25px;
	padding-left: 15px;
}
p{
	margin: 0;
	padding-left: 25px;
	padding-right: 16px;
}
@media screen and (max-width: 768px){
	body{
		background: linear-gradient(yellow, blue);
	}
}