body{
	background: linear-gradient(red, green) no-repeat;
	width: 90%;
	background-attachment: fixed;
}
@media screen and (max-width: 768px){
	body{
		background: linear-gradient(yellow, blue);
		background-attachment: fixed;
	}
}